.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, system-ui, sans-serif;
}

.questionNavigation {
  margin-top: 50px;
}
